<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer id="footer_container" th:fragment="footerFragment">
    <div class="inner">
        <address>
            <strong>대한전문건설협회</strong>
            <div>07071 서울특별시 동작구 보라매로5길 15, 18층 <br>(신대방동, 전문건설회관)</div>
            <div>개인정보처리담당자 홍길동</div>
            <div>TEL 02.3284.1010 | FAX 02.3284.1044
                <div>
                    <div>webmaster@kosca.or.kr</div>
        </address>
        <div class="link"><a href="#">서비스이용약관</a><a href="#">개인정보처리방침</a><a href="#">사이트맵</a></div>
        <div class="cp">Copyright © 2022 KOSCA All right reserved.</div>
    </div>
</footer>
</body>
</html>