<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<header id="header_container" th:fragment="headerFragment">


  <div class="inner">

    <!-- top -->
    <div class="header_top">
      <h1><a th:href="@{/main/main.do}">대한전문건설협회</a></h1>

      <!-- session on -->
      <th:block th:if="${session.login}">
        <div class="rtl">
          <span class="txt_account">반갑습니다.<strong>경기북부 홍길동</strong>님</span>
          <a href="#" class="btn_alarm new">알림<span>10</span></a>
          <a th:href="@{/main/logout.do}" class="btn_out"><span>로그아웃</span></a>
        </div>
      </th:block>

      <!-- session off -->
      <th:block th:unless="${session.login}">
        <a th:href="@{/main/login.do}" class="btn_login">로그인이 필요합니다.</a>
      </th:block>
    </div>

    <!--/*@thymesVar id="test" type=""*/-->
    <h5 th:text="${test}"></h5>

    <div class="header_btm">
      <h2 class="mainTitle">회원 신문고</h2>

      <nav class="gnb" th:if="${nav!='member'}">
        <ul>
          <li class="gnb01 on"><a th:href="@{/sinmungo/sinmungo_list.do}">신문고</a></li>
          <li class="gnb02"><a th:href="@{/jean/jean_list.do}">공개제안</a></li>
          <li class="gnb03"><a th:href="@{/option/option_list.do}">의견청취</a></li>
          <li class="gnb04"><a href="#">공지사항</a></li>
        </ul>
      </nav>
    </div>
  </div>

</header>
</html>