<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header id="header_container" th:fragment="navFragment">
    <div class="inner">
        <div class="header_top">
            <h1><a href="#">대한전문건설협회</a></h1>
            <div class="rtl">
                <span class="txt_account"><span>반갑습니다.</span><strong>경기북부 홍길동</strong>님</span>
                <a href="#" class="btn_alarm new">알림<span>9</span></a>
                <a href="#" class="btn_out"><span>로그아웃</span></a>
            </div>
        </div>
        <div class="header_btm">
            <h2 class="mainTitle">회원 신문고</h2>
            <nav class="gnb">
                <ul>
                    <li class="gnb01"><a href="#">신문고</a></li>
                    <li class="gnb02"><a href="#">제안신청</a></li>
                    <li class="gnb03"><a href="#">의견청취</a></li>
                    <li class="gnb04"><a href="#">공지사항</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
</html>