<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/noMenu}">
<th:block layout:fragment="contentFragment">
    <div id="body_container">
      <div class="body_inner">
          <div class="subHeader">
            <h3 class="subTitle">회원가입</h3>
            <a href="#" class="btn_back">이전</a>
          </div>
          <div class="password_wrap">
            <h4 class="subTitle02">비밀번호등록</h4>  
            <p class="txt_info">비밀번호를 등록하세요.</p>
            <div class="passwordForm">
              <div class="idOrphone">
                <label for="idNo">회원ID<br>(휴대폰번호)</label>
                <div class="box">
                  <input type="text" id="idNo" placeholder="010-1234-5678" disabled />
                </div>
              </div>
              <div class="inputPassword">
                <label for="pswd1">비밀번호<br>입력</label>
                <div class="box">
                  <input type="password" id="pswd1" placeholder="영문, 숫자, 특수문자를 사용하여 8자 이상" />
                </div>
              </div>
              <div class="checkPassword">
                <label for="pswd2">비밀번호<br> 확인</label>
                <div class="box">
                  <input type="password" id="pswd2" placeholder="비밀번호 재입력" />
                </div>
              </div>
            </div>
            <div class="btn_center"><button class="btn_password" id="button_active">가입완료</button></div>
          </div>
      </div>
    </div>

    <!-- s: popup -->
    <div class="popup_wrap" style="display: none;">
        <div class="msgPopup_wrap">
          <h2 class="pHeader">알림</h2>
          <div class="pBody">
            <p class="msg01">정보가 존재하지 않습니다.<br>확인 후, 다시 시도해주세요.</p>
            <button type="button" class="btn_type01" id="retry">다시시도</button>
          </div> 
        </div>
      </div>
      <!-- e: popup -->
</th:block>
<script layout:fragment="javascript" th:inline="javascript">

  //가입 완료 클릭
  $('#button_active').click(function() {
    if($('#pswd1').val() === '') {
      $('.popup_wrap').css('display','flex');
    }
    else if($('#pswd1').val() === $('#pswd2').val()) {
      location.href=[[@{/member/membership04.do}]];
    }
  });

  //popup 다시 시도 클릭
  $('#retry').click(function() {
    $('.popup_wrap').css('display','none');
  });
</script>
</html>