<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/noMenu}">
<th:block layout:fragment="contentFragment">
    <div id="body_container">
      <div class="body_inner">
          <div class="subHeader">
            <h3 class="subTitle">회원가입</h3>
            <a href="#" class="btn_back">이전</a>
          </div>
          <div class="password_wrap">
            <h4 class="subTitle02">비밀번호등록</h4>  
            <p class="txt_info">비밀번호를 등록하세요.</p>
            <div class="passwordForm">
              <div class="idOrphone">
                <label for="idNo">회원ID<br>(휴대폰번호)</label>
                <div class="box">
                  <input type="text" id="idNo" placeholder="010-1234-5678" disabled />
                </div>
              </div>
              <div class="inputPassword">
                <label for="pswd1">비밀번호<br>입력</label>
                <div class="box">
                  <input type="password" id="pswd1" placeholder="영문, 숫자, 특수문자를 사용하여 8자 이상" />
                </div>
              </div>
              <div class="checkPassword">
                <label for="pswd2">비밀번호<br> 확인</label>
                <div class="box">
                  <input type="password" id="pswd2" placeholder="비밀번호 재입력" />
                </div>
              </div>
            </div>
            <div class="btn_center"><button class="btn_password" id="button_active">가입완료</button></div>
          </div>
      </div>
    </div>

    <!-- 비밀번호 일치 여부 확인 -->
    <!-- s: popup -->
    <div class="popup_wrap" style="display: none;" id="popup_pwd">
        <div class="msgPopup_wrap">
          <h2 class="pHeader">알림</h2>
          <div class="pBody">
            <p class="msg01">비밀번호를 양식에 맞게 입력해주세요.</br>숫자, 문자, 특수문자 조합 8자 이상</p>
            <button type="button" class="btn_type01" id="retry">다시시도</button>
          </div> 
        </div>
      </div>
      <!-- e: popup -->


</th:block>
<script layout:fragment="javascript" th:inline="javascript">

  //가입 완료 클릭
  $('#button_active').click(function() {


    //비밀번호 입력 안 할 경우
    if($('#pswd1').val() === '') {
      $('#popup_pwd').css('display','flex');    //비밀번호 입력 안했을 시, popup창 생성
    }
    //비밀번호가 서로 일치할 경우
    else if($('#pswd1').val() === $('#pswd2').val()) {

        let pwd = $('#pswd1').val();    //비밀번호 1 입력 받기

        //유효성 검사 하기
        var pattern_num = /[0-9]/;	// 숫자
        var pattern_eng = /[a-zA-Z]/;	// 문자
        var pattern_spc = /[~!@#$%^&*()_+|<>?:{}]/; // 특수문자
        if( (pattern_num.test(pwd)) && (pattern_eng.test(pwd)) && (pattern_spc.test(pwd)) ){



        }else{
            $('#popup_pwd').css('display','flex');    //비밀번호 입력 안했을 시, popup창 생성
            return false;
        }
      //location.href=[[@{/member/membership04.do}]];
    }

    //비밀번호가 서로 일치하지 않을 경우
    else {
        $('#popup_pwd').css('display', 'flex');
    }
  });

  //popup 다시 시도 클릭
  $('#retry').click(function() {
    $('#popup_pwd').css('display','none');
  });
</script>
</html>