<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="contentFragment">
    <div id="body_container">
      <div class="body_inner">
       <div class="subHeader m">
          <h3 class="subTitle">신문고</h3>
          <a href="#" class="btn_back">이전</a>
        </div>
        <div class="sub01_tblList">
          <table>
            <colgroup>
              <col style="width: 10%">
              <col>
              <col style="width: 15%">
              <col style="width: 10%">
              <col style="width: 5%">
              <col style="width: 10%">
            </colgroup>
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
                <th scope="col">답글</th>
                <th scope="col">추천</th>
              </tr>
            </thead>
            <tbody>
              <tr onclick="detail_move('1')">
                <td class="no" scope="row">999</td>
                <td class="title"><a href="#">2022년도 건설업 고용·산재보설업 고용·산재보설업 고용·산재보설업 고용·산재보설업 고용·산재보설업 고용·산재보설업 고용·산재보설업 고용·산재보설업 고용·산재보험료 신고·납부 및 실무교 납부</a> <img src="../images/pc/ico_secret.png" class="ico_secret" alt="비밀글"></td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state">5</td>
                <td class="rcd"><span>9,999</span></td>
              </tr>
              <tr onclick="detail_move('1')">
                <td class="no" scope="row">999</td>
                <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> </td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state">11</td>
                <td class="rcd"><span>9,999</span></td>
              </tr>
              <tr onclick="detail_move('1')">
                <td class="no" scope="row">999</td>
                <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> <img src="../images/pc/ico_secret.png" class="ico_secret" alt="비밀글"></td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state">14</td>
                <td class="rcd"><span>9,999</span></td>
              </tr>
              <tr onclick="detail_move('1')">
                <td class="no" scope="row">999</td>
                <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> </td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state">12</td>
                <td class="rcd"><span>9,999</span></td>
              </tr>
              <tr onclick="detail_move('1')">
                <td class="no" scope="row">999</td>
                <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> <img src="../images/pc/ico_secret.png" class="ico_secret" alt="비밀글"></td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state">55</td>
                <td class="rcd"><span>9,999</span></td>
              </tr>
              <tr onclick="detail_move('1')">
                <td class="no" scope="row">999</td>
                <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> </td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state">24</td>
                <td class="rcd"><span>9,999</span></td>
              </tr>
              <tr onclick="detail_move('1')">
                <td class="no" scope="row">999</td>
                <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> <img src="../images/pc/ico_secret.png" class="ico_secret" alt="비밀글"></td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state">12</td>
                <td class="rcd"><span>9,999</span></td>
              </tr>
              <tr onclick="detail_move('1')">
                <td class="no" scope="row">999</td>
                <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> </td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state">21</td>
                <td class="rcd"><span>9,999</span></td>
              </tr>
              <tr onclick="detail_move('1')">
                <td class="no" scope="row">999</td>
                <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> <img src="../images/pc/ico_secret.png" class="ico_secret" alt="비밀글"></td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state">30</td>
                <td class="rcd"><span>9,999</span></td>
              </tr>
              <tr onclick="detail_move('1')">
                <td class="no" scope="row">999</td>
                <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> </td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state">28</td>
                <td class="rcd"><span>9,999</span></td>
              </tr>
              <tr onclick="detail_move('1')">
                <td class="no" scope="row">999</td>
                <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> <img src="../images/pc/ico_secret.png" class="ico_secret" alt="비밀글"></td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state">39</td>
                <td class="rcd"><span>9,999</span></td>
              </tr>
              <tr onclick="detail_move('1')">
                <td class="no" scope="row">999</td>
                <td class="title"><a href="#">2022년도 건설업건설업건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> </td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state">38</td>
                <td class="rcd"><span>9,999</span></td>
              </tr> 
            </tbody>
          </table>
          <div class="pagingNbtn">
            <div class="btn_write"><a th:href="@{/jean/jean_write.do}"><span>글쓰기</span></a></div>
            <div class="paging">
              <a href="#" class="front"></a>
              <a href="#" class="prev"></a>
              <a href="#" class="on">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a> 
              <a href="#" class="next"></a>
              <a href="#" class="end"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
</th:block>
<script layout:fragment="javascript" th:inline="javascript">

  <!-- detail 이동 -->
  function detail_move(num) {
    location.href=[[@{/jean/jean_detail.do}]];
  }

</script>
</html>