<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
  <th:block layout:fragment="contentFragment">
    <div id="body_container">
      <div class="main_inner">
        <div class="tbl_listWrap">
          <div class="tbl_type">
            <div class="tbl_header">
              <h3 class="subTitle_01">신문고</h3>
              <div class="btn_area"><a href="#"><span>더보기</span></a></div>
            </div>
            <table>
              <colgroup>
                <col style="width: 12%">
                <col>
                <col style="width: 15%">
                <col style="width: 18%">
              </colgroup>
              <tbody>
              <tr>
                <td class="no" scope="row">9999</td>
                <td class="title"><a href="#">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화 및 글 길어질 때</a></td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">9</td>
                <td class="title"><a href="#">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화 및 글 길어질 때</a></td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">8</td>
                <td class="title"><a href="#">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화 및 글 길어질 때</a></td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">7</td>
                <td class="title"><a href="#">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화 및 글 길어질 때</a></td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">6</td>
                <td class="title"><a href="#">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화 및 글 길어질 때</a></td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">5</td>
                <td class="title"><a href="#">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화 및 글 길어질 때</a></td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">4</td>
                <td class="title"><a href="#">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화 및 글 길어질 때</a></td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">3</td>
                <td class="title"><a href="#">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화 및 글 길어질 때</a></td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">2</td>
                <td class="title"><a href="#">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화 및 글 길어질 때</a></td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">1</td>
                <td class="title"><a href="#">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화 및 글 길어질 때</a></td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tbl_listWrap">
          <div class="tbl_type">
            <div class="tbl_header">
              <h3 class="subTitle_02">공개제안</h3>
              <div class="btn_area"><a href="#"><span>더보기</span></a></div>
            </div>
            <table>
              <colgroup>
                <col style="width: 12%">
                <col>
                <col style="width: 15%">
                <col style="width: 18%">
              </colgroup>
              <tbody>
              <tr>
                <td class="no" scope="row">9999</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화 및 글 길어질 때</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">9</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">8</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">7</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">6</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">5</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">4</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">3</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">2</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">1</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tbl_listWrap">
          <div class="tbl_type">
            <div class="tbl_header">
              <h3 class="subTitle_03">의견청취</h3>
              <div class="btn_area"><a href="#"><span>더보기</span></a></div>
            </div>
            <table>
              <colgroup>
                <col style="width: 12%">
                <col>
                <col style="width: 15%">
                <col style="width: 18%">
              </colgroup>
              <tbody>
              <tr>
                <td class="no" scope="row">9999</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화 및 글 길어질 때</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">9</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">8</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">7</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">6</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">5</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">4</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">3</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">2</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">1</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tbl_listWrap">
          <div class="tbl_type">
            <div class="tbl_header">
              <h3 class="subTitle_04">공지사항</h3>
              <div class="btn_area"><a href="#"><span>더보기</span></a></div>
            </div>
            <table>
              <colgroup>
                <col style="width: 12%">
                <col>
                <col style="width: 15%">
                <col style="width: 18%">
              </colgroup>
              <tbody>
              <tr>
                <td class="no" scope="row">9999</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화 및 글 길어질 때</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">9</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">8</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">7</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">6</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">5</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">4</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">3</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">2</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              <tr>
                <td class="no" scope="row">1</td>
                <td class="title">공공기관 공모전의 투명한 운영을 위한 정보공개 의무화</td>
                <td class="name">홍길동</td>
                <td class="date">2022-03-31</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </th:block>
</html>