<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="contentFragment">
    <div id="body_container">
      <div class="body_inner">
       <div class="subHeader m">
          <h3 class="subTitle">신문고</h3>
          <a href="#" class="btn_back">이전</a>
        </div>
        <div class="sub01_tblList">
          <table>
            <colgroup>
              <col style="width: 10%">
              <col>
              <col style="width: 15%">
              <col style="width: 10%">
              <col style="width: 5%">
              <col style="width: 10%">
            </colgroup>
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
                <th scope="col">처리상태</th>
                <th scope="col">추천</th>
              </tr>
            </thead>
            <tbody id="body_list">
              <tr onclick="detail_move('1')">
                <td class="no" scope="row" href="sinmungo/sinmungo_detail.do">999</td>
                <td class="title" href="sinmungo/sinmungo_detail.do"><a href="#">2022년도 건설업 고용·산재보설업 고용·산재보설업 고용·산재보설업 고용·산재보설업 고용·산재보설업 고용·산재보설업 고용·산재보설업 고용·산재보설업 고용·산재보험료 신고·납부 및 실무교 납부</a> <img src="../images/pc/ico_secret.png" class="ico_secret" alt="비밀글"></td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state"><span class="wait">대기</span></td>
                <td class="rcd"><span>9,999</span></td>
              </tr>
              <tr onclick="detail_move('1')">
                <td class="no" scope="row">999</td>
                <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> </td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state"><span class="done">완료</span></td>
                <td class="rcd"><span>9,999</span></td>
              </tr>
              <tr onclick="detail_move('1')">
                <td class="no" scope="row">999</td>
                <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> <img src="../images/pc/ico_secret.png" class="ico_secret" alt="비밀글"></td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state"><span class="wait">대기</span></td>
                <td class="rcd"><span>9,999</span></td>
              </tr>
              <tr onclick="detail_move('1')">
                <td class="no" scope="row">999</td>
                <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> </td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state"><span class="done">완료</span></td>
                <td class="rcd"><span>9,999</span></td>
              </tr>
              <tr onclick="detail_move('1')">
                <td class="no" scope="row">999</td>
                <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> <img src="../images/pc/ico_secret.png" class="ico_secret" alt="비밀글"></td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state"><span class="wait">대기</span></td>
                <td class="rcd"><span>9,999</span></td>
              </tr>
              <tr onclick="detail_move('1')">
                <td class="no" scope="row">999</td>
                <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> </td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state"><span class="done">완료</span></td>
                <td class="rcd"><span>9,999</span></td>
              </tr>
              <tr onclick="detail_move('1')">
                <td class="no" scope="row">999</td>
                <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> <img src="../images/pc/ico_secret.png" class="ico_secret" alt="비밀글"></td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state"><span class="wait">대기</span></td>
                <td class="rcd"><span>9,999</span></td>
              </tr>
              <tr onclick="detail_move('1')">
                <td class="no" scope="row">999</td>
                <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> </td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state"><span class="done">완료</span></td>
                <td class="rcd"><span>9,999</span></td>
              </tr>
              <tr onclick="detail_move('1')">
                <td class="no" scope="row">999</td>
                <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> <img src="../images/pc/ico_secret.png" class="ico_secret" alt="비밀글"></td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state"><span class="wait">대기</span></td>
                <td class="rcd"><span>9,999</span></td>
              </tr>
              <tr onclick="detail_move('1')">
                <td class="no" scope="row">999</td>
                <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> </td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state"><span class="done">완료</span></td>
                <td class="rcd"><span>9,999</span></td>
              </tr>
              <tr onclick="detail_move('1')">
                <td class="no" scope="row">999</td>
                <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> <img src="../images/pc/ico_secret.png" class="ico_secret" alt="비밀글"></td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state"><span class="wait">대기</span></td>
                <td class="rcd"><span>9,999</span></td>
              </tr>
              <tr onclick="detail_move('1')">
                <td class="no" scope="row">999</td>
                <td class="title"><a href="#">2022년도 건설업건설업건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> </td>
                <td class="writer">홍길동 (경기지부 | KICT)</td>
                <td class="date">2022-02-03</td>
                <td class="state"><span class="done">완료</span></td>
                <td class="rcd"><span>9,999</span></td>
              </tr> 
            </tbody>
          </table>
          <div class="pagingNbtn">
            <div class="btn_write"><a href="javascript:write_move()"><span>글쓰기</span></a></div>
            <div class="paging">
              <a href="#" class="front"></a>
              <a href="#" class="prev"></a>
              <a href="#" class="on">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a> 
              <a href="#" class="next"></a>
              <a href="#" class="end"></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- 비밀글 열었을 경우 popup창 생성 -->
  <!-- s: pwd -->
  <div class="popup_wrap" style="display:none;" id="popup_secret">
    <div class="msgPopup_wrap">
      <h2 class="pHeader">알림</h2>
      <div class="pBody">
        <div class="pwdEntry">
          <p>비밀번호를 입력해주세요.</p>
          <input type="text" class="entry" />
        </div>
        <button type="button" class="btn_type01">확인</button>
      </div>
    </div>
  </div>
  <!-- e: pwd -->


</th:block>
<script layout:fragment="javascript" th:inline="javascript">

  const APIURL = [[${@environment.getProperty('API_SERVER')}]];
  const WEBURL = [[${@environment.getProperty('WEB_SERVER')}]];

  $(document).ready(function() {
    selectList('1');
  });


  <!-- List 불러오기 -->
  function selectList(num) {
    const URL = APIURL+'/user/sinmungo/sinmungo_list.ajax';

    let data = new FormData();

    $.ajax({
      url : URL,
      data : data,
      type : 'post',
      dataType: 'json',
      contentType: false,
      processData: false,
      success : function (data) {
        if(data.RST_CD == '0') {

          let arr = '';
          let list = data.result;
          for(var i=0; i < list.length; i++) {
            arr+= '<tr>';
            arr+= '<td class="no" scope="row">'+list[i].sinmungo_no+'</td>';
            arr+= '<td class="title" onclick="detail_move('+list[i].sinmungo_no+')">'+list[i].title;

            //비밀글 여부
            if(list[i].publish_state != 0) {
              arr+='<img src="../images/pc/ico_secret.png" class="ico_secret" alt="비밀글">';
            }

            arr+='</td>';
            arr+= '<td class="write">'+list[i].member_nm+'</td>';
            arr+= '<td class="date">'+list[i].reg_date+'</td>';
            arr+= '<td class="state">';
            if(list[i].proc_state == '0') {
              arr+= '<span class="wait">'+'대기'+'</span></td>';
            } else {
              arr+= '<span class="done">'+'완료'+'</span></td>';
            }
            arr+='<td class="rcd"><span>'+'no'+'</span>';
            arr+='</tr>';
          }

          $('#body_list').html(arr);

        }

      },
      error : function(request, status, error) {
        $('#popup_div').show();
        console.log("code : "+request.status+"\nmessage : "+request.responseText+"\nerror : "+error);
      }
    });
  }


  <!-- 글쓰기 이동 -->
  function write_move() {

    location.href = WEBURL+'/sinmungo/sinmungo_write.do';
  }

  <!-- detail 이동 -->
  function detail_move(num) {

    const URL = APIURL + '/user/member/sinmungo_secrit.ajax';
    location.href=[[@{/sinmungo/sinmungo_detail.do}]]+'?idx='+num;

    return;


    const URL = APIURL+'/user/sinmungo/sinmungo_detail.ajax';

    $.ajax({
      url : URL,
      type : 'post',
      data : {'sinmungo' : num},
      dataType : 'json',
      contentType : false,
      processData : false,
      success :function(data) {
        console.log(data);
        if(data.RST_CD == 0) {
          location.href=[[@{/sinmungo/sinmungo_detail.do}]];
        }
      },
      error : function(request, status, error) {
        $('#popup_div').show();
        console.log("code : "+request.status+"\nmessage : "+request.responseText+"\nerror : "+error);
      }
    });



  }

</script>
</html>