<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="contentFragment">
    <div id="body_container">
        <div class="body_inner">
            <div class="sub01_write">
                <h3 class="subTitle">글쓰기</h3>
                <div class="tbl_write">
                    <table>
                        <colgroup>
                            <col style="width: 10%">
                            <col style="width: 40%">
                            <col style="width: 10%">
                            <col style="width: 40%">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">*지부선택</th>
                            <td>
                                <select class="selectType" id="branch_option">
                                    <!--                      <option>JS 에서 호출</option>-->
                                </select>
                            </td>
                            <th class="psw">비밀번호</th>
                            <td><input type="text" class="inputType" placeholder="비밀번호를 입력해주세요." style="width: 180px;">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">*제목</th>
                            <td colspan="3"><input type="text" class="inputType" id='note_title'
                                                   placeholder="제목을 입력하세요.(30자 이내)" style="width: 99%;"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="content">*내용</th>
                            <td colspan="3"><textarea id='note_content' placeholder="내용을 입력하세요.(3000자 이내)" rows="10"
                                                      cols="10"></textarea></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="btn_area">
                    <div class="btn_left"><a th:href="@{/sinmungo/sinmungo_list.do}" class="btn_list">목록</a></div>
                    <div class="btn_right">
                        <a th:href="@{/sinmungo/sinmungo_list.do}" class="btn_cancel">취소</a>
                        <a class="btn_done" id="btn_result">작성완료</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- s: 제목 글자수 조절 -->
    <div class="popup_wrap" style="display:none;" id="popup_title">
        <div class="msgPopup_wrap">
            <h2 class="pHeader">알림</h2>
            <div class="pBody">
                <p class="msg01">제목이 30자가 넘습니다.</p>
                <button type="button" class="btn_type01" id="p_title_close">다시시도</button>
            </div>
        </div>
    </div>
    <!-- e: popup -->

    <!-- s: 내용 글자수 조절 -->
    <div class="popup_wrap" style="display:none;" id="popup_content">
        <div class="msgPopup_wrap">
            <h2 class="pHeader">알림</h2>
            <div class="pBody">
                <p class="msg01">내용이 1000자가 넘습니다.</p>
                <button type="button" class="btn_type01" id="p_content_close">다시시도</button>
            </div>
        </div>
    </div>
    <!-- e: popup -->


</th:block>
<script layout:fragment="javascript" th:inline="javascript">

    const APIURL = [[${@environment.getProperty('API_SERVER')}]];
    const WEBURL = [[${@environment.getProperty('WEB_SERVER')}]];


    $(document).ready(function () {
        const URL = APIURL + '/user/branch/branch_list.ajax';

        $.ajax({
            url: URL,
            type: 'post',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if (data.RST_CD == 0) {
                    let option = '';
                    for (var i = 0; i < data.list.length; i++) {
                        option += '<option value=' + data.list[i].branch_no + '>' + data.list[i].branch_nm + '</option>';
                    }

                    $('#branch_option').html(option);
                }
                //
            },
            error: function (request, status, error) {
                console.log("code : " + request.status + "\nmessage : " + request.responseText + "\nerror : " + error);
            }
        });
    });


    <!-- 작성 완료 클릭 -->
    $('#btn_result').click(function () {

        console.log($('#note_title').val().length);

        //유효성 검사
        if (!($('#note_title').val().length < 30)) {
            $('#popup_title').show();
            return;
        }
        if (!($('#note_content').val().length < 1000)) {
            $('#popup_content').show();
            return;
        }

        //data 저장하기
        var data = new FormData();
        data.append("title", $('#note_title').val());         //제목
        data.append("contents", $('#note_content').val());    //내용
        data.append("sinmungo_branch_no", $('#branch_option').val());  //지점번호
        data.append("reg_member_no", [[${session.member.member_no}]]);
        console.log([[${session.member.member_no}]]);


        const URL = APIURL + '/user/sinmungo/sinmungo_write.ajax';

        $.ajax({
            url: URL,
            type: 'post',
            data: data,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (data) {
                console.log(data);
            },
            error: function (request, status, error) {
                alert("code : " + request.status + "\nmessage : " + request.responseText + "\nerror : " + error);
            }
        })

    })

    //popup 닫기
    //title 영역
    $('#p_title_close').click(function () {
        $('#popup_title').hide()
    });

    //content 영역
    $('#p_content_close').click(function () {
        $('#popup_content').hide()
    });


</script>
</html>