<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="contentFragment">
    <div id="body_container">
        <div class="body_inner">
            <div class="subHeader m">
                <h3 class="subTitle">공지사항</h3>
                <a href="#" class="btn_back">이전</a>
            </div>
            <div class="sub01_tblList">
                <table>
                    <colgroup>
                        <col style="width: 10%">
                        <col>
                        <col style="width: 15%">
                        <col style="width: 10%">
                        <col style="width: 5%">
                        <col style="width: 10%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                        <th scope="col">작성일</th>
                        <th scope="col">참여</th>
                        <th scope="col">추천</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="no" scope="row">999</td>
                        <td class="title"><a href="#">2022년도 건설업 고용·산재보설업 고용·산재보설업 고용·산재보설업 고용·산재보설업 고용·산재보설업 고용·산재보설업
                            고용·산재보설업 고용·산재보설업 고용·산재보험료 신고·납부 및 실무교 납부</a> <img src="../images/pc/ico_secret.png"
                                                                               class="ico_secret" alt="비밀글"></td>
                        <td class="writer">홍길동 (경기지부 | KICT)</td>
                        <td class="date">2022-02-03</td>
                        <td class="state"><span class="wait">55</span></td>
                        <td class="rcd"><span>9,999</span></td>
                    </tr>
                    <tr>
                        <td class="no" scope="row">999</td>
                        <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a></td>
                        <td class="writer">홍길동 (경기지부 | KICT)</td>
                        <td class="date">2022-02-03</td>
                        <td class="state"><span class="done">99</span></td>
                        <td class="rcd"><span>9,999</span></td>
                    </tr>
                    <tr>
                        <td class="no" scope="row">999</td>
                        <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> <img
                                src="../images/pc/ico_secret.png" class="ico_secret" alt="비밀글"></td>
                        <td class="writer">홍길동 (경기지부 | KICT)</td>
                        <td class="date">2022-02-03</td>
                        <td class="state"><span class="wait">12</span></td>
                        <td class="rcd"><span>9,999</span></td>
                    </tr>
                    <tr>
                        <td class="no" scope="row">999</td>
                        <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a></td>
                        <td class="writer">홍길동 (경기지부 | KICT)</td>
                        <td class="date">2022-02-03</td>
                        <td class="state"><span class="done">44</span></td>
                        <td class="rcd"><span>9,999</span></td>
                    </tr>
                    <tr>
                        <td class="no" scope="row">999</td>
                        <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> <img
                                src="../images/pc/ico_secret.png" class="ico_secret" alt="비밀글"></td>
                        <td class="writer">홍길동 (경기지부 | KICT)</td>
                        <td class="date">2022-02-03</td>
                        <td class="state"><span class="wait">452</span></td>
                        <td class="rcd"><span>9,999</span></td>
                    </tr>
                    <tr>
                        <td class="no" scope="row">999</td>
                        <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a></td>
                        <td class="writer">홍길동 (경기지부 | KICT)</td>
                        <td class="date">2022-02-03</td>
                        <td class="state"><span class="done">469</span></td>
                        <td class="rcd"><span>9,999</span></td>
                    </tr>
                    <tr>
                        <td class="no" scope="row">999</td>
                        <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> <img
                                src="../images/pc/ico_secret.png" class="ico_secret" alt="비밀글"></td>
                        <td class="writer">홍길동 (경기지부 | KICT)</td>
                        <td class="date">2022-02-03</td>
                        <td class="state"><span class="wait">512</span></td>
                        <td class="rcd"><span>9,999</span></td>
                    </tr>
                    <tr>
                        <td class="no" scope="row">999</td>
                        <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a></td>
                        <td class="writer">홍길동 (경기지부 | KICT)</td>
                        <td class="date">2022-02-03</td>
                        <td class="state"><span class="done">525</span></td>
                        <td class="rcd"><span>9,999</span></td>
                    </tr>
                    <tr>
                        <td class="no" scope="row">999</td>
                        <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> <img
                                src="../images/pc/ico_secret.png" class="ico_secret" alt="비밀글"></td>
                        <td class="writer">홍길동 (경기지부 | KICT)</td>
                        <td class="date">2022-02-03</td>
                        <td class="state"><span class="wait">688</span></td>
                        <td class="rcd"><span>9,999</span></td>
                    </tr>
                    <tr>
                        <td class="no" scope="row">999</td>
                        <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a></td>
                        <td class="writer">홍길동 (경기지부 | KICT)</td>
                        <td class="date">2022-02-03</td>
                        <td class="state"><span class="done">721</span></td>
                        <td class="rcd"><span>9,999</span></td>
                    </tr>
                    <tr>
                        <td class="no" scope="row">999</td>
                        <td class="title"><a href="#">2022년도 건설업 고용·산재보험료 신고·납부 및 실무교 납부</a> <img
                                src="../images/pc/ico_secret.png" class="ico_secret" alt="비밀글"></td>
                        <td class="writer">홍길동 (경기지부 | KICT)</td>
                        <td class="date">2022-02-03</td>
                        <td class="state"><span class="wait">764</span></td>
                        <td class="rcd"><span>9,999</span></td>
                    </tr>
                    <tr>
                        <td class="no" scope="row">999</td>
                        <td class="title"><a href="#">2022년도 건설업건설업건설업 고용·산재보험료 신고·납부 및 실무교 납부</a></td>
                        <td class="writer">홍길동 (경기지부 | KICT)</td>
                        <td class="date">2022-02-03</td>
                        <td class="state"><span class="done">851</span></td>
                        <td class="rcd"><span>9,999</span></td>
                    </tr>
                    </tbody>
                </table>
                <div class="pagingNbtn">
                    <div class="paging">
                        <a href="#" class="front"></a>
                        <a href="#" class="prev"></a>
                        <a href="#" class="on">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#" class="next"></a>
                        <a href="#" class="end"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<script layout:fragment="javascript"></script>
</html>